body {
	text-align: center;
	font-family: 'Quicksand';
	background-color: black;
	color: white;
	text-shadow: 0 0 10px #21ebff;
	margin: 2em;
	padding: 0;
}

* {
	cursor: none;
}

.currentScore {
	text-align: left;
}

select:hover {
	margin-top: 17%;
	margin-left: 6%;
	width: 12em;
	background: black;
	color: white;
	text-shadow: 0 0 10px #21ebff;
	border-color: black;
	outline: none;
}

select {
	margin-top: 17%;
	margin-left: 6%;
	width: 12em;
	background: white;
	color: black;
	text-shadow: 0 0 10px #21ebff;
	border-color: black;
	outline: none;
	transition: 0.2s;
	text-indent: 10px;
}

option {
	color: white;
	text-shadow: 0 0 10px #21ebff;
}

.startButton {
	background-color: black;
	border: none;
	color: white;
	text-shadow: 0 0 10px #21ebff;
	padding: 15px 30px;
	margin: 15px 15px;
	border-radius: 50%;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	overflow: hidden;
	animation: animateStartButton 1s linear infinite;
}

@keyframes animateStartButton {
	0%,
	100% {
		color: white;
		text-shadow: none;
	}
	30%,
	70% {
		color: white;
		text-shadow: 0 0 10px #21ebff;
	}
}

.startButton:hover {
	background-color: #21ebff;
	color: black;
	box-shadow: 0 0 25px #21ebff;
	transition: 0.4s;
	border-radius: 50%;
	cursor: none;
}

.startButtonDisabled {
	background-color: black;
	border: none;
	color: #757575;
	padding: 15px 30px;
	margin: 15px 15px;
	border-radius: 50%;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	overflow: hidden;
}

.wordPlaceholder {
	height: 67px;
}

.word {
	font-size: 2em;
}

h4 {
	margin: 0;
	padding: 0;
}

.timeLeftPlaceholder {
	height: 53px;
	margin: 15px;
}

h5 {
	font-size: 2em;
}

.inputAnswer {
	width: 50%;
}

.inputRightAnswer {
	width: 50%;
	box-shadow: 0px 0px 20px green;
	border-color: green;
}

.inputWrongAnswer {
	width: 50%;
	box-shadow: 0px 0px 20px red;
	border-color: red;
}

.pointer {
	position: absolute;
	width: 15px;
	height: 15px;
	border: 2px solid white;
	border-radius: 50%;
	background-color: black;
	box-shadow: 0px 0px 20px #21ebff;
}
